@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Brandon Grotesque";
  src: url("/public/fonts/BrandonGrotesque-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Brandon Grotesque", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
