@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Brandon Grotesque";
  src: url("/public/fonts/BrandonGrotesque-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.input-base {
  @apply border border-secondary p-2 rounded w-full bg-transparent focus:outline-none focus:ring-0 focus:border-primary placeholder:text-secondary text-primary;
}

.textarea-base {
  @apply border border-secondary p-2 rounded h-32 w-full bg-transparent focus:outline-none focus:ring-0 focus:border-primary placeholder:text-secondary text-primary;
}

.button-base {
  @apply bg-transparent border border-secondary text-secondary hover:text-primary hover:border-primary py-2 rounded w-1/4;
}


body {
  margin: 0;
  font-family: "Brandon Grotesque", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-background;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
